<div class="jumbotron">
  <h2>Your Furniture is Old</h2>
  <h4>Ours is older.</h4>
  <p><a class="btn btn-primary btn-lg" href="/products" role="button">Checkout our products</a></p>
</div>

<nav class="well">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <%= render "shared/menu" %>
  </div>
</nav>
