<div class="jumbotron">
  <h2>Your Furniture is Old</h2>
  <h4>Ours is older.</h4>
  <p><a class="btn btn-primary btn-lg" href="/products" role="button">Checkout our products</a></p>
</div>
<!-- <div class="container">
  <div class="hero-unit">
  </div>
  <div class="text">
    <h1>Your Furniture is Old.</h1>
    <p>Ours is older.</p>
    <p><a class="btn btn-primary btn-lg" href="/products" role="button">Checkout our products</a></p>
  </div>
</div> -->
